.Button {
	background-color:#2dabf9;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:12px 76px;
	text-decoration:none;
    border: 0;
}
.Button:hover {
	background-color:#0688fa;
}
.Button:active {
	position:relative;
	top:1px;
}
#frame {
    border:0;
    width:70px;
    height:35px;
}
body{
    background: #fafafa;
    text-align: center;
}
a, a:visited{
    text-decoration: none;
    color: #585858;
    font-family:Arial;
}
a:hover, a:active{
    text-decoration: underline;
    color: #484848;
}